<mat-sidenav-container class="full-screen">
    <h1>Login Form</h1>
    <form class="form-container" #f="ngForm" (ngSubmit)="onSubmit(f.value)">
      <mat-form-field>
        <input matInput placeholder="Name" type="text" id="name"
          required
          [(ngModel)]="user.name" name="name">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Password" type="text" id="password"
          required
          [(ngModel)]="user.password" name="password">
      </mat-form-field>

      <button mat-button type="submit" color="primary">Submit</button>

    </form>
</mat-sidenav-container>
