.test_rec {
  text-align: center;
  margin:0 auto;
  width:500px;
  height:100px;
  background:#d10026;
}

.test_rec_lazy {
  text-align: center;
  margin:0 auto;
  width:500px;
  height:100px;
  background:#42f46e;
}
