.test_rec {
  background:#d10026;
  height:100px;
  margin:0 auto;
  text-align: center;
  width:500px;
}

.test_rec_lazy {
  background:#42f46e;
  height:100px;
  margin:0 auto;
  text-align: center;
  width:500px;
}
