@import '~@angular/material/theming';

@include mat-core();

$eagle-creek-primary: mat-palette($mat-green);
$eagle-creek-accent:  mat-palette($mat-orange, A200, A100, A400);
$eagle-creek-warn:    mat-palette($mat-red);

$eagle-creek-theme: mat-dark-theme($eagle-creek-primary, $eagle-creek-accent, $eagle-creek-warn);

@include angular-material-theme($eagle-creek-theme);
