<mat-sidenav-container class="full-screen">
  <mat-toolbar color="primary">
    <span>{{title}}.</span>
    <span class="fill-space"></span>
    <a routerLink="/login">
      <button mat-button color="accent">Login</button>
    </a>
    <a routerLink="/register">
      <button mat-button color="accent">Sign Up</button>
    </a>
  </mat-toolbar>
  <div style="text-align:center">
    <h1>
      Welcome to {{title}}!
    </h1>
    <a routerLink="/dashboard">
      <button mat-raised-button color="primary">Dashboard [test]</button>
    </a>
  </div>
</mat-sidenav-container>
