<mat-sidenav-container class="full-screen">
    <h1>Registration Form</h1>
    <form class="form-container" #f="ngForm" (ngSubmit)="onSubmit(f.value)">
      <mat-form-field>
        <input matInput placeholder="Name" type="text" class="form-control"
          id="name" required [(ngModel)]="user.name" name="name">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Email" type="text" class="form-control"
          id="email" required [(ngModel)]="user.email" name="email">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Password" type="text" class="form-control"
          id="password" required [(ngModel)]="user.password" name="password">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Password Confirmation" type="text"
          required class="form-control" id="password_confirmation">
      </mat-form-field>

      <button mat-button type="submit" color="primary">Submit</button>

    </form>
</mat-sidenav-container>
